.contact-box {
	display: grid;
	gap: 30px;
}

@media (min-width: 900px) {
	.contact-box {
		grid-template-columns: 1fr 1fr;
		gap: 60px;
	}
}

.contact-box__info {
	font-weight: 600;
	font-size: 15px;
}

@media (min-width: 520px) {
	.contact-box__info {
		font-size: 18px;
	}
}

@media (min-width: 720px) {
	.contact-box__info {
		font-size: 24px;
	}
}



.contact-box__contacts {
	font-weight: 600;
	font-size: 14px;
}

@media (min-width: 520px) {
	.contact-box__contacts {
		font-size: 16px;
	}
}

@media (min-width: 720px) {
	.contact-box__contacts {
		font-size: 19px;
	}
}

.contact-box__contact {
	margin: 0;
}

.contact-box__contact + .contact-box__contact {
	margin-top: 0.5em;
}
