.content-article__columns {
	margin-top: 20px;
}

@media (min-width: 460px) {
	.content-article__columns {
		margin-top: 25px;
	}
}

@media (min-width: 768px) {
	.content-article__columns {
		margin-top: 35px;
	}
}

@media (min-width: 900px) {
	.content-article__columns {
		column-count: 2;
		column-gap: 60px;
	}
}
