@media (min-width: 900px) {
	.content-article__columns {
		column-count: 2;
		column-gap: 60px;
	}
}

.content-article + .content-article {
	margin-top: 30px;
}

@media (min-width: 450px) {
	.content-article + .content-article {
		margin-top: 45px;
	}
}

@media (min-width: 768px) {
	.content-article + .content-article {
		margin-top: 85px;
	}
}
