@media (min-width: 1200px) {
	.friedwal {
		column-count: 2;
		column-gap: 40px;
	}
}

.friedwal img {
	display: block;

	width: 100%;
	height: auto;
	max-width: 600px;
	margin: 40px auto;
}

@media (min-width: 1200px) {
	.friedwal img {
		max-width: 100%;
		margin-top: 200px;
	}
}

.friedwal h1,
.friedwal h2 {
	margin-top: 0.8em;
}

@media (min-width: 450px) {
	.friedwal h1,
	.friedwal h2 {
		margin-top: 1.2em;
	}
}

@media (min-width: 768px) {
	.friedwal h1,
	.friedwal h2 {
		margin-top: 1.6em;
	}
}
