@import '/fonts/fonts.css';
@import '/fonts/base.css';
@import '/fonts/header.css';
@import '/fonts/footer.css';


.link {
	color: var(--link-color);
	text-decoration: none;
}


.main {
	display: grid;
}
