@import '/styles/home-slider.css';
@import '/styles/home-about.css';
@import '/styles/home-main-sections.css';
@import '/styles/home-map.css';
@import '/styles/home-banner.css';


@media (min-width: 1200px) {
	.page__main-sections {
		margin-bottom: 80px;
	}
}

/* main-sections */
.page__main-sections {
	margin-bottom: 20px;
}

@media (min-width: 1200px) {
	.page__main-sections {
		margin-bottom: 80px;
	}
}

/* home-baner */
.page__home-banner {
	margin-top: 20px;
}
