.inner-page-content {
	padding: 0 0 40px;
}

@media (min-width: 768px) {
	.inner-page-content {
		padding: 30px 0 80px;
	}
}

.inner-page-content-container {
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 var(--padding-x);
}

@media (min-width: 1200px) {
	.inner-page-content-container--padding-left {
		padding-left: 80px;
	}
}

@media (min-width: 1500px) {
	.inner-page-content-container--padding-left {
		padding-left: 120px;
	}
}
