*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --padding-x: 20px;
  --container-max-width: calc(1510px + var(--padding-x) + var(--padding-x));
  --page-color: hsl(0, 0%, 10%);
  --page-backgound: hsl(0, 0%, 100%);
  --heading-color: hsl(153, 74%, 16%);
  --green-color-600: hsl(154, 20%, 54%);
  --green-color-700: hsl(154, 56%, 24%);
  --green-color-800: hsl(153, 74%, 16%);
  --link-color: hsl(109, 21%, 45%);
  --mobile-menu-button-color: hsl(141, 100%, 15%);
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  overflow: hidden;

  clip: rect(0, 0, 0, 0);
}

.page,
.page__body {
  height: 100%;
}

.page {
  color: var(--page-color);
  font-size: 16px;
  font-family: "Playfair Display", serif;
  line-height: 1.5;

  background-color: var(--page-backgound);
}

@media (min-width: 768px) {
  .page {
    font-size: 18px;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;

  margin: 0;
}

.page__body--lock {
  height: 100vh;

  overflow: hidden;
}
