.menu {
	--link-color: hsl(160, 3%, 21%);

	display: none;
	justify-self: flex-end;
}

.page--home .menu {
	justify-self: center;

	margin-right: 0;
}

@media (min-width: 1370px) {
	.menu {
		display: block;
	}
}

.menu__list {
	position: relative;

	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;

	margin: 0;
	padding: 0;

	list-style: none;
}

.menu__item {
	position: relative;

	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	grid-template-columns: max-content;
	align-items: center;

	min-height: 55px;
	padding: 15px 25px;

	transition: all 0.2s linear;
}

.menu__item:hover,
.menu__item--active,
.menu__item--open {
	background-color: hsl(154, 23%, 69%);
}

.menu__link {
	color: var(--link-color);
	font-weight: 600;
	font-size: 18px;
	font-family: inherit;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;

	outline: none;
}

.menu__item-button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	margin-bottom: -5px;
	margin-left: -15px;
	padding: 0;

	border: 0;

	background-color: transparent;

	cursor: pointer;

	transform: translateX(17px);
}

.menu__item-button-icon {
	display: block;

	width: 18px;
	max-height: 100%;

	pointer-events: none;
}

.menu__list--sumbenu {
	position: absolute;
	top: calc(100% + 15px);
	left: 0;

	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr;

	background-color: hsl(154, 24%, 87%);

	visibility: hidden;

	opacity: 0;

	pointer-events: none;

	transition: all 0.1s ease-in-out;
}

.menu__item--open .menu__list--sumbenu {
	top: calc(100% + 10px);

	visibility: visible;

	opacity: 1;

	pointer-events: all;
}
