.header {
	--header-background: hsl(0, 0%, 100%);
	--link-color: hsl(150, 11%, 7%);

	position: relative;
	z-index: 1000;

	background-color: var(--color-white);

	user-select: none;
}

@media (min-width: 1300px) {
	.header {
		padding: 13px 0 7px;
	}
}

.header__container {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 20px;
	align-items: center;

	height: 70px;
	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 var(--padding-x);
}

@media (min-width: 1300px) {
	.header__container {
		height: auto;
	}
}

.logo__image {
	display: block;

	width: 105px;
	height: auto;
}

@media (min-width: 1300px) {
	.logo__image {
		width: 145px;
		height: auto;
	}
}
