.page-content p {
	margin: 0;

	font-size: 14px;
	line-height: 1.8;
}

.page-content p + p {
	margin-top: 1.3em;
}

@media (min-width: 450px) {
	.page-content p {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.page-content p {
		font-size: 19px;
	}
}

.page-content .content-text--bold {
	font-weight: 600;
}

.page-content .content-text--big {
	font-size: 17px;
}

@media (min-width: 450px) {
	.page-content .content-text--big {
		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.page-content .content-text--big {
		font-size: 24px;
	}
}
