/* home-about */
.home-about {
	padding: 40px 0;
}

@media (min-width: 450px) {
	.home-about {
		padding-top: 50px;
		padding-bottom: 60px;
	}
}

@media (min-width: 768px) {
	.home-about {
		padding-top: 90px;
		padding-bottom: 120px;
	}
}

@media (min-width: 1200px) {
	.home-about {
		padding-top: 120px;
		padding-bottom: 160px;
	}
}

.home-about__container {
	--container-max-width: 1372px;

	display: grid;
	gap: 40px;

	max-width: var(--container-max-width);
	margin: 0 auto;
	padding: 0 var(--padding-x);
}

@media (min-width: 1100px) {
	.home-about__container {
		grid-template-columns: minmax(100px, max-content) max-content;
		justify-content: space-between;
	}
}

.home-about__images-collage {
	display: grid;
	grid-template-rows: 3% 45% min-content;
	grid-template-columns: 1.4fr 5fr 2fr 1fr;
	gap: 5px;
	justify-self: center;
	align-self: start;

	max-width: 700px;
}

@media (min-width: 600px) {
	.home-about__images-collage {
		gap: 10px;
	}
}

.home-about__image {
	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.home-about__image:nth-child(1) {
	grid-row: 1 / 3;
	grid-column: 1 /3;
}

.home-about__image:nth-child(2) {
	grid-row: 2 / 3;
	grid-column: 3 /5;
}

.home-about__image:nth-child(3) {
	grid-row: 3 / 4;
	grid-column: 2 /4;
}

.home-about h1 {
	--heading-color: var(--color-green-800);

	margin: 0;
	margin-bottom: 15px;

	color: var(--heading-color);
	font-weight: 700;
	font-size: 33px;
	line-height: 1;
}

@media (min-width: 450px) {
	.home-about h1 {
		margin-bottom: 25px;

		font-size: 37px;
	}
}

@media (min-width: 768px) {
	.home-about h1 {
		margin-bottom: 50px;

		font-size: 52px;
	}
}

.home-about__text-wrapper h2 {
	--heading-color: var(--color-green-800);

	margin: 0;
	margin-bottom: 0.2em;

	color: var(--heading-color);
	font-weight: 400;
	font-size: 15px;
}

@media (min-width: 768px) {
	.home-about__text-wrapper h2 {
		font-size: 25px;
	}
}

@media (min-width: 1100px) {
	.home-about__text-wrapper {
		max-width: 550px;
	}
}

@media (min-width: 1100px) {
	.home-about__text-wrapper p {
		max-width: 480px;
	}
}
