.home-swiper {
	height: 280px;
}

@media (min-width: 500px) {
	.home-swiper {
		height: 350px;
	}
}

@media (min-width: 650px) {
	.home-swiper {
		height: 400px;
	}
}

@media (min-width: 900px) {
	.home-swiper {
		height: 500px;
	}
}

@media (min-width: 1200px) {
	.home-swiper {
		height: 600px;
	}
}

@media (min-width: 1500px) {
	.home-swiper {
		height: 740px;
	}
}

.home-swiper__image {
	display: block;

	width: 100%;
	height: 100%;

	object-fit: cover;
}

.home-swiper__wappen {
	position: absolute;
	top: 50%;
	left: 50%;

	height: 180px;

	color: hsl(0, 0%, 100%);

	opacity: 0.5;
	transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 500px) {
	.home-swiper__wappen {
		height: 220px;
	}
}

@media (min-width: 900px) {
	.home-swiper__wappen {
		height: 300px;
	}
}

@media (min-width: 1500px) {
	.home-swiper__wappen {
		height: 400px;
	}
}

.home-swiper-button-next,
.home-swiper-button-prew {
	display: none;
}

@media (min-width: 640px) {
	.home-swiper-button-next,
	.home-swiper-button-prew {
		display: block;
	}
}

.home-swiper-pagination {
	position: absolute;
	left: 0;
	bottom: 15px;
	z-index: 10;

	display: flex;
	justify-content: center;

	width: 100%;

	transform: translate3d(0, 0, 0);

	transition: 0.3s opacity;
}

@media (min-width: 500px) {
	.home-swiper-pagination {
		bottom: 25px;
	}
}

@media (min-width: 1200px) {
	.home-swiper-pagination {
		bottom: 35px;
	}
}

.home-swiper-pagination-bullet {
	display: block;

	width: 10px;
	height: 10px;
	margin: 15px;

	border: 1px solid hsl(0, 0%, 100%);
	border-radius: 50%;

	background-color: transparent;

	outline: none;

	cursor: pointer;

	opacity: 1;
}

.home-swiper-pagination-bullet:focus-visible {
	box-shadow: 0 0 0 3px var(--color-green-850), 0 0 0 5px hsl(0, 0%, 100%);
}

.home-swiper-pagination-bullet-active {
	background-color: hsl(0, 0%, 100%);
}

.home-swiper__button {
	position: absolute;
	top: 50%;
	z-index: 10;

	display: none;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;
	padding: 0;

	border: 0;
	border-radius: 50%;
	border-radius: 100px;

	background-color: rgba(2, 2, 2, 0.322);

	outline: none;

	cursor: pointer;
}

.home-swiper__button:focus-visible {
	box-shadow: 0 0 0 3px var(--color-green-850), 0 0 0 5px hsl(0, 0%, 100%);
}

@media (min-width: 640px) {
	.home-swiper__button {
		display: flex;
	}
}

.home-swiper__button-prev {
	left: 30px;
}

.home-swiper__button-next {
	right: 30px;
}

@media (min-width: 840px) {
	.home-swiper__button-prev {
		left: 60px;
	}

	.home-swiper__button-next {
		right: 60px;
	}
}

.home-swiper__button-icon {
	display: block;

	width: 11px;
	height: 25px;
}

.home-swiper__button-prev .home-swiper__button-icon {
	transform: rotate(180deg);
}
