.brennholz-form-section {
  padding: 0 0 40px;
}

@media (min-width: 768px) {
  .brennholz-form-section {
    padding: 30px 0 80px;
  }
}

.brennholz-form-section__container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--padding-x);
}

.brennholz-form-section__form {
  margin-top: 30px;
}

.brennholz-form-section__form-field {
  max-width: 1074px;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .brennholz-form-section__form-field {
    margin: 30px 0;
  }
}

.brennholz-form-section__radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;

  margin: 20px 0;
}

@media (min-width: 768px) {
  .brennholz-form-section__radio-group {
    margin: 30px 0;
  }
}

.brennholz-form-section__radio-group-inner {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 20px;
}

.brennholz-form-section__radio-group-title {
  grid-column: 1 / -1;
}

.brennholz-form-section__footer {
  display: flex;
  gap: 20px;

  margin-top: 40px;
}

@media (min-width: 768px) {
  .brennholz-form-section__footer {
    gap: 30px;
  }
}

.brennholz-form-section__block-images {
  display: none;
}

@media (min-width: 768px) {
  .brennholz-form-section__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

@media (min-width: 768px) {
  .brennholz-form-section__block-images {
    display: grid;
    grid-auto-rows: min-content;
    gap: 15px;
  }
}

.brennholz-form-section__image {
  height: auto;
  max-width: 100%;
}
