@import './styles/swiper.css';
@import './styles/home/home-swiper.css';
@import './styles/home/home-about.css';
@import './styles/home/home-main-sections.css';
@import './styles/home/home-map.css';
@import './styles/home/home-banner.css';

@media (min-width: 1200px) {
	.page__main-sections {
		margin-bottom: 80px;
	}
}

/* main-sections */
.page__main-sections {
	margin-bottom: 20px;
}

@media (min-width: 1200px) {
	.page__main-sections {
		margin-bottom: 80px;
	}
}

/* home-banner */
.page__home-banner {
	margin-top: 20px;
}

.main__wappen {
	display: block;
}

@media (min-width: 700px) {
	.main__wappen {
		position: absolute;
		top: 35%;
		right: 0;
		z-index: -1;

		display: block;

		width: 284px;
		height: 486px;

		color: var(--color-green-50);

		transform: translateX(64%);
	}

	.main__wappen-svg {
		width: 284px;
		height: 486px;
	}
}
