@import "./styles/swiper.css";
@import "./styles/home/home-slider.css";
@import "./styles/home/home-about.css";
@import "./styles/home/home-main-sections.css";
@import "./styles/home/home-map.css";
@import "./styles/home/home-banner.css";

@media (min-width: 1200px) {
  .page__main-sections {
    margin-bottom: 80px;
  }
}

/* main-sections */
.page__main-sections {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .page__main-sections {
    margin-bottom: 80px;
  }
}

/* home-banner */
.page__home-banner {
  margin-top: 20px;
}
