@import './styles/base/page-content.css';
@import './styles/base/page-content-container.css';
@import './styles/components/parallax.css';
@import './styles/components/breadcrumbs.css';

.main__inner {
	position: relative;
}

.main__zweig {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	display: block;

	max-width: 195px;
	max-height: 100%;
}

@media (min-width: 1000px) {
	.main__zweig {
		max-width: 420px;
	}
}
