@import './styles/components/page-content.css';
@import './styles/components/page-content-container.css';
@import './styles/components/content-article.css';
@import './styles/components/parallax.css';
@import './styles/components/breadcrumbs.css';

.main {
	grid-auto-rows: auto;
	grid-template-rows: min-content;
}

.main__inner {
	position: relative;

	height: 100%;
}

.main__zweig {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	display: block;

	max-width: 195px;
	max-height: calc(100% - 40px);
}

@media (min-width: 768px) {
	.main__zweig {
		max-height: calc(100% - 80px);
	}
}

@media (min-width: 1000px) {
	.main__zweig {
		max-width: 420px;
	}
}
