.home-about__text-wrapper p,
.page-content p,
.content-text {
	margin: 0;

	font-size: 14px;
	line-height: 1.8;
}

.home-about__text-wrapper p + p,
.page-content p + p,
.content-text + .content-text {
	margin-top: 1.3em;
}

@media (min-width: 450px) {
	.home-about__text-wrapper p,
	.page-content p,
	.content-text {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.home-about__text-wrapper p,
	.page-content p,
	.content-text {
		font-size: 19px;
	}
}

.content-text--bold {
	font-weight: 700;
}

.content-text--big {
	font-size: 17px;
}

@media (min-width: 450px) {
	.content-text--big {
		font-size: 20px;
	}
}

@media (min-width: 768px) {
	.content-text--big {
		font-size: 24px;
	}
}
