.home-about__text-wrapper a,
.page-content a,
.home-about__text-wrapper p span,
.page-content p span,
.link {
	color: var(--color-green-620);
	font-weight: 700;
	text-decoration: none;
	word-break: break-all;
}

.link--phone {
	font-size: 1.3em;
	line-height: 1;
}

@media (min-width: 450px) {
	.link--phone {
		font-size: 1.4em;
	}
}

@media (min-width: 768px) {
	.link--phone {
		font-size: 1.6em;
	}
}
