.link {
	--link-color: var(--color-green-650);

	color: var(--link-color);
	font-weight: 600;
	text-decoration: none;
	word-break: break-all;
}

.link--phone {
	font-size: 1.6em;
	line-height: 1;
}

.link--big {
	font-size: 1.1em;
}

@media (min-width: 760px) {
	.link--big {
		font-size: 1.3em;
	}
}

.link--italic {
	font-style: italic;
}
