.link {
	color: var(--link-color);
	font-weight: 600;
	text-decoration: none;
}

.link--big {
	font-size: 1.1em;
}

@media (min-width: 760px) {
	.link--big {
		font-size: 1.3em;
	}
}

.link--italic {
	font-style: italic;
}
