.table {
	width: 100%;

	border-collapse: collapse;
}

.table caption {
	--heading-color: var(--color-green-800);

	margin: 0 0 0.4em;

	color: var(--heading-color);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	text-align: start;
}

@media (min-width: 450px) {
	.table caption {
		margin: 0 0 0.8em;

		font-size: 22px;
	}
}

@media (min-width: 768px) {
	.table caption {
		margin: 0 0 1em;

		font-size: 22px;
	}
}

.table tr {
	border-bottom: 1px solid hsl(152, 24%, 88%);
}

.table td {
	padding: 8px 0;
}

.table tr td:nth-child(2) {
	text-align: end;
}
