.title-h2 {
	margin: 0 0 0.4em;

	color: var(--heading-color);
	font-size: 30px;
	line-height: 1.3;
}

@media (min-width: 450px) {
	.title-h2 {
		font-size: 35px;
	}
}

@media (min-width: 768px) {
	.title-h2 {
		font-size: 42px;
	}
}

.title-h2--italic {
	font-style: italic;
}

.text {
	margin: 0;

	font-size: 13px;
	line-height: 1.8;
}

.text + .text {
	margin-top: 1.3em;
}

@media (min-width: 450px) {
	.text {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.text {
		font-size: 19px;
	}
}
